
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 400%; /* Adjust width based on the number of slides */
}

.slide {
    flex: 1 0 100%;
    width: 100%;
}

/* Navigation button styles */
.navigation button {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    transform: translateY(-50%);
}

.navigation button:hover {
    background-color: rgba(0,0,0,0.8);
}

.navigation button:first-of-type {
    left: 10px;
}

.navigation button:last-of-type {
    right: 10px;
}
